/*No Margin after Navbar, Removes rounded corners*/
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}   
/*Image for title*/
.jumbotron {
  background-image: url("blankbanner.jpg");
  background-size: cover;
}
/*footer that stays at bottom*/
.footer {
  position: fixed;
  bottom: 0;
}